//GRADIENT MIXIN//
@mixin gradient {
  background: linear-gradient(
    90deg,
    rgba(82, 144, 205, 1) 38%,
    rgba(206, 211, 236, 1) 94%
  );
}

//ABSOLUTE CENTER//

@mixin absolutecenter {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

//TRANSITION//

@mixin transitionproperty {
  transition-duration: 1000ms;
  transition-property: all;
}
